body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.cenario {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gangorra {
    position: relative;
    width: 700px;
    height: 12px;
    background-color: white;
    /* Centraliza a rotação no meio da prancha */
    transform-origin: center center;
}

.hexagono {
    position: absolute;
    /* Proporção matemática para hexágono regular */
    width: 60px;
    height: 69.28px; 
    background-color: white;
    bottom: 12px;
    left: 50%;
    /* Pontos exatos para um hexágono regular */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}